DISCORD_TOKEN=your_discord_bot_token
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4.1

LLM_GEMINI_KEY=

BOT_MASTER_KEY=your_fernet_master_key

# Required MCP endpoints
PAAS_MCP_URL="https://solver.planning.domains/mcp"
L2P_MCP_URL="http://127.0.0.1:8002/mcp"
